#footer{
    background-color: black;
    padding: 3%;
    padding-top: 10px;
    color: white;
}
#url{
    color: white;
    text-decoration: none;
}
.col-5{
    padding-bottom: 10px;
}
@media (max-width: 650px){
    .col-5{
        width: 600px;
        padding-left: 20%;
    }
    .col-7{
        width: 600px;
        padding-left: 5%;
    }
}
@media (max-width: 600px){
    
}