.container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

h1 {
    color: darkblue;
    font-size: 500%;
}

#view-all {
    text-decoration: none;
    color: black;
    border: 5px solid darkblue;
    border-radius: 15px;
}